obj
bin
artifacts
.vs
.suo
eng/tools
*.Import.props
*.g.props
*.user
.teamcity/.idea
.teamcity/target
/.config/dotnet-tools.json
/.tools
nuget.config
global.json
*.g.json
*.g.ps1
scripts/build-agents/last-execution.txt
*.log
copilot.data.*